<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <link rel="stylesheet" href="../../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
</head>
<body>
<!--个人信息-->
<nav>
    <div class="ui vertical inverted  segment">
        <div class="ui container">
            <div class="ui inverted menu">
                <a href="#" th:href="@{/admin/blogs}" class="active item"><i class="home  icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="item"><i class="idea  icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="item"><i class="tags  icon"></i>标签</a>
                <div class="ui right inverted  menu">
                    <div class="ui dropdown item">
                      <img src="../../static/images/halo.jpg" th:src="@{/images/halo.jpg}" class="ui avatar image">
                       小白
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--二级标题-->
        <div class="ui bottom attached pointing menu">
            <div class="ui container">
            <div class="ui right basic secondary menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">新增</a>
                <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
            </div>
    </div>
    </div>
<!--中间内容-->
<div class="ui container">
    <div class="ui teal attached segment">
        <div class="ui segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题" alt="">
                </div>

                <div class="field">
                    <button type="button" id="search-btn" class="ui teal button">搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat:${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <!--/*@thymesVar id="title" type=""*/-->
                    <td th:text="${blog.title}">刻意练习名单</td>
                    <!--/*@thymesVar id="type" type=""*/-->
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td>是</td>
                    <!--/*@thymesVar id="updateTime" type=""*/-->
                    <td th:text="${blog.updateTime}">2017-08-09</td>
                    <td>
                        <!--/*@thymesVar id="id" type=""*/-->
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui teal basic button">编辑</a>
                        <!--/*@thymesVar id="id" type=""*/-->
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui orange basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr><th colspan="6">
                    <div class="ui pagination menu" th:if="${page.totalPages}>1">
                        <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">
                            上一页
                        </a>
                        <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">
                            下一页
                        </a>
                    </div>
                    <a href="#" th:href="@{/admin/blogs/input}" class="ui right floated teal basic button">新增</a>
                </th>
                </tr></tfoot>
            </table>
        </div>

    </div>
</div>

<br>

<!--尾部链接-->
<footer class="ui inverted vertical segment">
    <div class="ui container" align="center">
        <div class="ui inverted divided stackable grid">
            <!--微信二维码 -->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/ge.png" th:src="@{/images/ge.png}" class="ui rounded image" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>
            <!-- 最新博客-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-text-thin m-text-spaced font">最新博客</h4>
                    <a href="#" class="item font">技术博客</a>
                    <a href="#" class="item font">美食（User story）</a>
                    <a href="#" class="item font">旅游文化（User story）</a>
                </div>
            </div>
            <!-- 联系我-->
            <div class="four wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header font">联系我们</h4>
                    <a href="#" class="item font">微信公众号：阑尾科技</a>
                </div>
            </div>
            <!--个人简介 -->
            <div class="six wide column">
                <h4 class="ui inverted header font">blog</h4>
                <p class="font">制作一个最简易的博客</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003690" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                    src="" style="float:left;" />
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42011102003690号</p>
            </a>
        </div>
        <p class="font">Copyright @ 2019-2020 EasyStudy Designed by 阑尾科技 </p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on:'hover'
        }
    );

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }
    $("#search-btn").click(function () {
        $("[name='page']").val(0);
       loaddata();
    });
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
            title:$("[name='title']").val(),
            typeId:$("[name='typeId']").val(),
            recommend:$("[name='recommend']").prop('checked'),
            page:$("[name='page']").val()
        });
    }
</script>
</body>
</html>